### Data Structures

The basic data structure in Python are:

- List
- Tuple
- Sets
- Dictionary

### List

- List is an ordered and mutable data sturcture that can hold different data types or data sturcture.

- Lists are defined by list() or [] and items within the list are separated by comma

- Items in a list are accessed by its index.

- The index of the first item in a list is 0 and the index of the last item in a list is -1.

- List can be sliced to select a group of items from the list.

In [1]:
empty_list = list()

In [2]:
empty_list

[]

In [3]:
type(empty_list)

list

In [4]:
numbers_list = [1,2,3,4,5]
string_list = ["W","X","Y","Z"]
mixed_list = ['w', 2, True, "Y"]
list_in_list = [1,3,["a","b","c"], 5]

In [5]:
list_in_list

[1, 3, ['a', 'b', 'c'], 5]

In [6]:
#Get the first item from list_in_list
list_in_list[0]

1

In [7]:
#Get the last item from list_in_list
list_in_list[-1]

5

In [8]:
#Get the third item from list_in_list
list_in_list[2]

['a', 'b', 'c']

In [9]:
#Get the second item from the third item in  list_in_list
list_in_list[2][1]

'b'

In [10]:
list_in_list[2][1]

'b'

In [11]:
mixed_list

['w', 2, True, 'Y']

In [12]:
#Changing True to False in mixed_list
mixed_list[2] = False
mixed_list

['w', 2, False, 'Y']

### Methods of List

|Method||Meaning|
|----||----|
|append(x)||Add an item to the end of the list|
|insert(a,b)||Add an item b to the position index a in the list|
|pop()||Removes and print out the last element of a list|
|pop(a)|| Remove and print out the item at index a of a list|
|remove(a)||Remove the first item from the list whose value is equal to a|
|extend(iterable)||Adds multiple elements to a list from an iterable|
|reverse()|| Reverses the order of the items in the list|
|clear()|| Removes all items from the list|
|max()|| Returns the maximum value in a list|
|min()|| Returns the minimum value in a list|
|sum()|| Returns the sum of all elements in the list|
|split()|| Splits a string into a list, based on a specific delimiter|
|join()|| Concatenates the elements of a list into a string, separated by a specified delimiter|

In [13]:
numbers_list

[1, 2, 3, 4, 5]

In [14]:
numbers_list.append(6)
numbers_list

[1, 2, 3, 4, 5, 6]

In [15]:
numbers_list.insert(0,0)

In [16]:
numbers_list

[0, 1, 2, 3, 4, 5, 6]

In [17]:
numbers_list.pop()

6

In [18]:
numbers_list

[0, 1, 2, 3, 4, 5]

In [19]:
numbers_list.pop(0)

0

In [20]:
numbers_list

[1, 2, 3, 4, 5]

In [21]:
numbers_list.remove(3)

In [22]:
numbers_list

[1, 2, 4, 5]

In [23]:
numbers_list.extend([6,7,8])

In [24]:
numbers_list

[1, 2, 4, 5, 6, 7, 8]

In [25]:
numbers_list.reverse()

In [26]:
numbers_list

[8, 7, 6, 5, 4, 2, 1]

In [27]:
numbers_list.clear()

In [28]:
numbers_list

[]

In [29]:
scores = [22,33,4,12,44]

In [30]:
len(scores)

5

In [31]:
### Calculte the sum of the score list
sum(scores)

115

In [32]:
max(scores)

44

In [33]:
min(scores)

4

In [34]:
names = ["Kofi", "Kwaku", "Kwame","Kojo"]

In [35]:
names

['Kofi', 'Kwaku', 'Kwame', 'Kojo']

In [36]:
" and ".join(names)

'Kofi and Kwaku and Kwame and Kojo'

In [37]:
names_with_joins =", ".join(names)
names_with_joins

'Kofi, Kwaku, Kwame, Kojo'

In [38]:
names_with_joins.split(",")

['Kofi', ' Kwaku', ' Kwame', ' Kojo']

### Membership Operators

- These operartors are used to check if an item is found in a data structure.

- The return output is a boolean(True or False).

They include:
 
**in** - Used to check whether an element is in a data sturcture.

**not in** - Used to check whether an element is in a data sturcture.

In [39]:
stationery = ["pencil", "eraser", "ruler"]
stationery

['pencil', 'eraser', 'ruler']

In [40]:
#Check if pencil in stationery
"pencil" in stationery

True

In [41]:
#Check if pen not in stationery
"pen" not in stationery

True

Check out more functions on list from the python documentation [here](https://docs.python.org/3/tutorial/datastructures.html)

### Tuples

Tuples are ordered and immutable data structure which can hold different data types or data structures.

They are immutable because items cannot be added ore removed once the tuple is created.

Tuples are created using **()** or **tuple()**.

In [42]:
tup  =()

In [43]:
type(tup)

tuple

In [44]:
tup_1 = tuple((1,2,3,4,3))

In [45]:
tup_1

(1, 2, 3, 4, 3)

In [46]:
#length of tup_1
len(tup_1)

5

In [47]:
#Accessing the first item in tup_1
tup_1[0]

1

In [48]:
#Accessing the first three items in tup_1
tup_1[0:3]

(1, 2, 3)

In [49]:
#Accessing the last item in tup_1
tup_1[-1]

3

In [50]:
#Check if 5 in tup_1
5 in tup_1

False

In [51]:
#Check if 3 in tup_1
3 in tup_1

True

**count()** function count the number of times an element appear in a tuple.

**index()** It returns the index of the first occurence of an element in the tuple

In [52]:

tup_1.count(2)

1

In [53]:
tup_1.index(3)

2

In [54]:
#Convert a tuple to a list
list(tup_1)

[1, 2, 3, 4, 3]

### Set

Sets are unordered and mutable data structure which store collections of unique elements(do not allow duplicates of elements).

They are created using **{}** or **set()** function.

In [55]:
list_numbers = [1,23,3,3,4,5,2,1]
list_numbers

[1, 23, 3, 3, 4, 5, 2, 1]

In [56]:
set_numbers = set(list_numbers)
set_numbers

{1, 2, 3, 4, 5, 23}

In [57]:
# Add a 9 to set_numbers
set_numbers.add(9)
set_numbers

{1, 2, 3, 4, 5, 9, 23}

In [58]:
set_numbers

{1, 2, 3, 4, 5, 9, 23}

In [59]:
#Remove the first element in a set
set_numbers.pop()

1

In [60]:
set_numbers

{2, 3, 4, 5, 9, 23}

**remove()**: Used to remove a particular item from a set

In [61]:
#Remove 5 from the set_numbers

In [62]:
set_numbers.remove(5)

In [63]:
set_numbers

{2, 3, 4, 9, 23}

**clear()**: Used to clear all elements from a set

In [64]:
set_numbers.clear()

In [65]:
len(set_numbers)

0

### Set Operations

In [66]:
A = {1,2,3,4,5,6}
B={2,4,6,8,10}

**union()** : This method returns a new set with distinct elements from all the sets. The operator **|** is used to represent union operation.

**intersection()**: This method returns the common items among two or more sets. The operator **&** represent the intersection operation

**difference**: This returns a set of difference of two or more sets.

In [67]:
A.union(B)

{1, 2, 3, 4, 5, 6, 8, 10}

In [68]:
A|B

{1, 2, 3, 4, 5, 6, 8, 10}

In [69]:
# Intersection
A.intersection(B)

{2, 4, 6}

In [70]:
A&B

{2, 4, 6}

In [71]:
A.difference(B)

{1, 3, 5}

In [72]:
B.difference(A)

{8, 10}

### Dictionary

Dictionary is an unordered and mutable data structure that stores mapping of unique key so values.

They are created using **{}** or **dict()** and key-value pairs separated by a colon **(:)** .

The keys of the dictionary must be **immutable** data type or structure examples strings, tuples.

In [73]:
shop = {"Pencil":25, "Eraser":4,"Ruler":10,"Envelope":24}

In [74]:
shop

{'Pencil': 25, 'Eraser': 4, 'Ruler': 10, 'Envelope': 24}

In [75]:
type(shop)

dict

**items()**: Displays a list of all the key value pairs in the dictionary

In [80]:
shop.items()

dict_items([('Pencil', 25), ('Eraser', 4), ('Ruler', 10), ('Envelope', 24)])

In [77]:
#Keys of shop
shop.keys()

dict_keys(['Pencil', 'Eraser', 'Ruler', 'Envelope'])

In [78]:
#Values of shop
shop.values()

dict_values([25, 4, 10, 24])

In [76]:
#Get Quantity of Eraser
shop["Eraser"]

4

The **get** method id used to get the value of a specific key. If the key is not found it returns the optional default value or returns None if the optional default value is not specified.

In [79]:
#Get Quantity of Eraser
shop.get("Eraser")

4

In [84]:
print(shop.get("Pen"))

None

In [85]:
shop.get("Pen", "Not Available")

'Not Available'

In [81]:
#Updating the value of PenciL
shop["Pencil"] =20

In [82]:
shop

{'Pencil': 20, 'Eraser': 4, 'Ruler': 10, 'Envelope': 24}

In [86]:
#Removing the key-value from a dictionary
del shop["Pencil"]

In [87]:
shop

{'Eraser': 4, 'Ruler': 10, 'Envelope': 24}