### Q1

Name the four built-in data structures in python. Give one examples for each
<!-- List
Tuples
Dictionaries
Set -->

### Q2

State two differences between a list and a tuple in Python.
<!-- 1. List is mutable but tuple is immutable 
2. List uses square brackets[] but tuple uses round brackets()-->

### Q3
Make a list containing names of five animals with a variable name `animal_list`

Write a code for the following:
- Print the first two animals
- Print the last two animals
- Add three extra animals to the variable `animal_list`
- Remove the first two animals from the variable `animal_list`
- How many animals are in the `animal_list`?
- Create a variable animal_set which stores the set of animal_list 
- How many elements are in the animal_set?

In [4]:
animal_list = ["Dog", "Cat", "Snake", "Lizard", "Crocodile"]
print(animal_list[:2])

Dog

In [6]:
animal_list = ["Dog", "Cat", "Snake", "Lizard", "Crocodile"]
print(animal_list[-2:])

['Lizard', 'Crocodile']

In [4]:
animal_list = ["Dog", "Cat", "Snake", "Lizard", "Crocodile"]
animal_list.extend(["Lion","Penguin", "Whale"])
print(animal_list)

['Dog', 'Cat', 'Snake', 'Lizard', 'Crocodile', 'Lion', 'Penguin', 'Whale']

In [6]:
del animal_list[-2:-1]
print(animal_list)

['Dog', 'Cat', 'Snake', 'Lizard', 'Crocodile', 'Whale']

In [7]:
len(animal_list)

6

In [10]:
animal_set = set(animal_list)
animal_set

{'Cat', 'Crocodile', 'Dog', 'Lizard', 'Snake', 'Whale'}

In [11]:
len(animal_set)

6

### Q4

Given a list:

suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]

a. Create a list called first containing only the two first items from suitcase.

b. Create a list called middle containing only the two middle items from suitcase.

c. Create a list called last made up only of the last two items from suitcase.

In [12]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
first = []
first.append(suitcase[:2])
print(first)

[['sunglasses', 'hat']]

In [13]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
middle = []
middle.append(suitcase[2:4])
print(middle)

[['passport', 'laptop']]

In [14]:
suitcase = ["sunglasses", "hat", "passport", "laptop", "suit", "shoes"]
last = []
last.append(suitcase[4:6])
print(last)

[['suit', 'shoes']]

### Q5
Write a python code to insert 35 into the list below. Make sure it is inserted in the right position to maintain the order of the data.

`values = [20,25,30,40,45,50,55,60,65,70]`

In [19]:
values = [20,25,30,40,45,50,55,60,65,70]
ind = values.index(30)
values.insert(3, 35)
print(ind)
print(values)

2
[20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70]

### Q6

Given that Python lists and Python tuples are quite similar â€“ when might you prefer to use a tuple over a list?
Ans: For items that would not change. E.g. Days of the week, Months of the year

### Q7
Create a dictionary with 5 Ghana regions and their capitals and store it in the variable `region_capital`

- Print out the keys of region_capital
- Print out the values of region_capital

In [20]:
region_capital = {"Greater Accra": "Accra", "Central Region": "Cape Coast", "Eastern Region": "Koforidua", "Volta Region": "Ho", "Ashanti Region": "Kumasi"}
region_capital.keys()

dict_keys(['Greater Accra', 'Central Region', 'Eastern Region', 'Volta Region', 'Ashanti Region'])

In [21]:
region_capital.values()

dict_values(['Accra', 'Cape Coast', 'Koforidua', 'Ho', 'Kumasi'])

### Q8

`values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]`

Using the codes above answer the following questions:
- What is the total number of elements in values?
- What is the highest occuring number in the values variable?
- Convert values into a set and store it into a variable named `values_set`
- How many elements are in the variable values_set?

In [22]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6]
len(values)

15

In [58]:
values = [3,4,5,6,3,4,3,5,2,4,2,5,6,1,6,3]
one = 0
two = 0
three = 0
four = 0
five = 0
six = 0
for i in values:
    if i == 3:
        three+=1
    elif i == 4:
        four+=1
    elif i == 5:
        five+=1
    elif i == 6:
        six+=1
    elif i == 1:
        one+=1
    elif i == 2:
        two+=1
    else:
        print("error")
print(one)
print(two)
print(three)
print(four)
print(five)
print(six)

print("The mode is 3")

1
2
4
3
3
3
The mode is 3

In [24]:
values_set = set(values)
print(values_set)

{1, 2, 3, 4, 5, 6}

In [26]:
len(values_set)

6

### Q9
Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are the square of the keys.

In [25]:
d=dict()
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### Q10
Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [37]:
x = []
for i in range(11, 21):
    x.append(i)
print(x)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [40]:
y = []
for a in range(21, 31):
    y.append(a)
print(y)

[]
[21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [41]:
z = []
for a in range(31, 41):
    z.append(a)
print(z)

[31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [42]:
print(x)
print(y)
print(z)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
[31, 32, 33, 34, 35, 36, 37, 38, 39, 40]

In [57]:
num = {"X": x, "Y": y, "Z": z}
print(num)

{'X': [11, 12, 13, 14, 15, 16, 17, 18, 19, 20], 'Y': [21, 22, 23, 24, 25, 26, 27, 28, 29, 30], 'Z': [31, 32, 33, 34, 35, 36, 37, 38, 39, 40]}

In [56]:
print(num["X"][5])
print(num["Y"][5])
print(num["Z"][5])

16
26
36