In [6]:
x = 7
y = 23 
z = 20

In [7]:
x > y and y < z

False

In [8]:
(x > y) and (y < z)

False

In [9]:
x < y or y < z

True

## DATA STRUCTURES

    - list
    - tuple
    - library
    - Dictionary

In [10]:
list_1 = list()
type(list_1)

list

In [11]:
list_2 = [1, 2, 'Ama', 'Kofi', 4]
type(list_2)

list

In [12]:
list_3 = [1, 2,['Ama', 'Kofi', 'Kwame'], 4]
list_3

[1, 2, ['Ama', 'Kofi', 'Kwame'], 4]

In [13]:
list_2

[1, 2, 'Ama', 'Kofi', 4]

In [14]:
list_2[2]

'Ama'

In [15]:
list_2[4]

4

In [16]:
list_2[-1]

4

In [17]:
list_2[len(list_2)-1]

4

In [18]:
list_3

[1, 2, ['Ama', 'Kofi', 'Kwame'], 4]

In [19]:
list_3[2][1]

'Kofi'

In [20]:
a = list_3[2] 
a

['Ama', 'Kofi', 'Kwame']

In [21]:
kofi = a[1]
kofi

'Kofi'

In [22]:
#pop
#append
#extend
#remove

In [23]:
len(list_2)

5

In [24]:
list_2.append(5)
list_2

[1, 2, 'Ama', 'Kofi', 4, 5]

In [25]:
list_2.append('Joana')
list_2

[1, 2, 'Ama', 'Kofi', 4, 5, 'Joana']

In [26]:
list_2.remove('Joana')

In [27]:
list_2

[1, 2, 'Ama', 'Kofi', 4, 5]

In [28]:
list_4 =[2, 3, 4, 6, 7, 9, 11]

In [29]:
list_4.sort()

TUPLE

In [30]:
tup_1 = ()
tup_2 = tuple()

In [31]:
type(tup_1)

tuple

In [32]:
type(tup_2)

tuple

In [33]:
tup_3 = (1, 2, 3, 4, 5)
tup3 = tuple((1, 2, 3, 4, 5, 6))
tup_3
tup3

(1, 2, 3, 4, 5, 6)

In [34]:
len(tup_3)

5

In [35]:
tup_3[0]

1

In [36]:
tup_3[2]

3

SET

In [37]:
set_1 = {1, 2, 3, 4, 5}

In [38]:
type(set_1)

set

In [39]:
set_2 = set()
type(set_2)

set

In [40]:
ls_1 = [3, 4, 23, 3, 2, 3, 2, 3]

In [41]:
set_3 = set(ls_1)

In [42]:
set_3

{2, 3, 4, 23}

In [43]:
list_1 = [2, 3, 4, 4, 5, 3, 6]

In [44]:
set_2 = set(list_1)
set_2

{2, 3, 4, 5, 6}

In [45]:
set_2.add(9)

In [46]:
set_2

{2, 3, 4, 5, 6, 9}

In [47]:
len(set_2)

6

In [48]:
list_2

[1, 2, 'Ama', 'Kofi', 4, 5]

Dictonaries

In [1]:
shop = {"Pencil": 25, "eraser": 15, "ruler": 5}
shop.keys()

dict_keys(['Pencil', 'eraser', 'ruler'])

In [2]:
shop.values()

dict_values([25, 15, 5])

In [4]:
shop["Pencil"]

25

In [5]:
shop["ruler"]

5

In [9]:
print(shop.get("sharpener"))

None

In [10]:
print(shop.get("pen"), 0)

None 0

In [14]:
shop.items()

dict_items([('Pencil', 25), ('eraser', 15), ('ruler', 5), ('pencil', 20)])

In [16]:
shop["Pencil"] = 20

In [17]:
shop.items()

dict_items([('Pencil', 20), ('eraser', 15), ('ruler', 5), ('pencil', 20)])

In [18]:
shop.pop("pencil")

20

In [21]:
shop.items()

dict_items([('Pencil', 20), ('eraser', 15), ('ruler', 5), ('Pen', 50)])

In [20]:
shop["Pen"] = 50

In [22]:
scores = {"A": [1,2,3,4,], "B": [6,8,9,4], "C": [4,2,8,7]}

In [24]:
scores.keys()

dict_keys(['A', 'B', 'C'])

In [26]:
scores["B"]

[6, 8, 9, 4]

In [27]:
sum(scores["B"])

27

In [31]:
sum(scores["B"])/len(scores["B"])

6.75

IF STATEMENTS

In [34]:
if 5==6:
    print("five")
else:
    print("Not equal")

Not equal

In [35]:
grade = input("What is your grade(Capital letters): ")
if grade == "A":
    print("Good")
else:
    print("Bad")

Good

In [42]:
number = int(input("Enter a number: "))
if number < 10:
    print("Less than 10")
else:
    print("Greater than 10")


if number < 10:
    print("Less than 10")
elif number > 10:
    print("Greater than 10")
else:
    print("equal to 10")

equal to 10

ELIF STATEMENT

In [50]:
digit = int(input("Enter a number: "))
if digit%2 == 0:
    print(f"{digit} is an even number")
else:
    print(f"{digit} is not an even number")

20 is an even number

NESTED STATEMENTS

In [56]:
number = int(input("Enter a number: "))
if number >= 0:
    print(f"{number} is postive")
    if number%2 == 0:
        print(f"{number} is an even number")
    else:
        print(f"{number} is an odd number")
else:
    print(f"{number} is a negative number")

78 is postive
78 is an even number

FOR LOOPS

In [57]:
name = "Catherine"
for i in name:
    print(i)

C
a
t
h
e
r
i
n
e

In [58]:
name = "Catherine"
letters = []
for i in name:
    letters.append(i)
print(letters)

['C', 'a', 't', 'h', 'e', 'r', 'i', 'n', 'e']

In [64]:
numbers = [5, 12, 19, 6, 20]
num = []
for i in numbers:
    if i > 10:
        print(i)

12
19
20

In [65]:
numbers = [5, 12, 19, 6, 20]
num = []
for i in numbers:
    if i > 10:
        num.append(i)
print(num)

[12, 19, 20]

In [68]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [69]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [70]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [72]:
num =[]
for i in range(100, 201, 2):
    print(i)

100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138
140
142
144
146
148
150
152
154
156
158
160
162
164
166
168
170
172
174
176
178
180
182
184
186
188
190
192
194
196
198
200