In [6]:
x = 7
y = 23 
z = 20

In [7]:
x > y and y < z

False

In [8]:
(x > y) and (y < z)

False

In [9]:
x < y or y < z

True

## DATA STRUCTURES

    - list
    - tuple
    - library
    - Dictionary

In [10]:
list_1 = list()
type(list_1)

list

In [11]:
list_2 = [1, 2, 'Ama', 'Kofi', 4]
type(list_2)

list

In [12]:
list_3 = [1, 2,['Ama', 'Kofi', 'Kwame'], 4]
list_3

[1, 2, ['Ama', 'Kofi', 'Kwame'], 4]

In [13]:
list_2

[1, 2, 'Ama', 'Kofi', 4]

In [14]:
list_2[2]

'Ama'

In [15]:
list_2[4]

4

In [16]:
list_2[-1]

4

In [17]:
list_2[len(list_2)-1]

4

In [18]:
list_3

[1, 2, ['Ama', 'Kofi', 'Kwame'], 4]

In [19]:
list_3[2][1]

'Kofi'

In [20]:
a = list_3[2] 
a

['Ama', 'Kofi', 'Kwame']

In [21]:
kofi = a[1]
kofi

'Kofi'

In [22]:
#pop
#append
#extend
#remove

In [23]:
len(list_2)

5

In [24]:
list_2.append(5)
list_2

[1, 2, 'Ama', 'Kofi', 4, 5]

In [25]:
list_2.append('Joana')
list_2

[1, 2, 'Ama', 'Kofi', 4, 5, 'Joana']

In [26]:
list_2.remove('Joana')

In [27]:
list_2

[1, 2, 'Ama', 'Kofi', 4, 5]

In [28]:
list_4 =[2, 3, 4, 6, 7, 9, 11]

In [29]:
list_4.sort()

TUPLE

In [30]:
tup_1 = ()
tup_2 = tuple()

In [31]:
type(tup_1)

tuple

In [32]:
type(tup_2)

tuple

In [33]:
tup_3 = (1, 2, 3, 4, 5)
tup3 = tuple((1, 2, 3, 4, 5, 6))
tup_3
tup3

(1, 2, 3, 4, 5, 6)

In [34]:
len(tup_3)

5

In [35]:
tup_3[0]

1

In [36]:
tup_3[2]

3

SET

In [37]:
set_1 = {1, 2, 3, 4, 5}

In [38]:
type(set_1)

set

In [39]:
set_2 = set()
type(set_2)

set

In [40]:
ls_1 = [3, 4, 23, 3, 2, 3, 2, 3]

In [41]:
set_3 = set(ls_1)

In [42]:
set_3

{2, 3, 4, 23}

In [43]:
list_1 = [2, 3, 4, 4, 5, 3, 6]

In [44]:
set_2 = set(list_1)
set_2

{2, 3, 4, 5, 6}

In [45]:
set_2.add(9)

In [46]:
set_2

{2, 3, 4, 5, 6, 9}

In [47]:
len(set_2)

6

In [48]:
list_2

[1, 2, 'Ama', 'Kofi', 4, 5]