### Q1
List the basic data types in python and give one example each.

In [ ]:
# Integer e.g 89
# Float e.g 3.77
# String e.g Hello World
# Boolean e.g TRUE/FALSE OR YES/NO

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [4]:
x = 4539.85
y = str(x)
z = int(x)
print(f'{x} is a float, {y} is a string and {z} is an integer')

4539.85 is a float, 4539.85 is a string and 4539 is an integer

### Q3

What data type would you use to store

a. The price of car? 
   Float

b. The age of a person
   Integer

c. car plate number: plateNumber = "AV01-AFP"?
   String

d. The price of fuel
   Float

e. The number of students in the class
   Integer

f. The weight of a person
   Integer

g. Check whether two figures are equal
   Boolean

i. The name of a  school
   String

j. The average result of the overall score of a student
   Integer

k. The total number of vote cast
   Integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [5]:
football = 'Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team'
fBall = football.split('.')
fBall
statement1 = fBall[0]
statement2 = fBall[1]
print(len(statement1))
print(len(statement2))
print(len(statement1)>len(statement2))

60
35
True

### Q5
What values does python use to represent **True** and **False** respectively?

In [ ]:
# true = 1
# false = 0

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [21]:
word='Hello, How are you?'
words = word.split()
words
words[1]
word[7:-1]
words[2]
word[-1]
word[:-1]

'Hello, How are you'

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [ ]:
sentence = "I am very excited"
upperCase = sentence.upper()
lowerCase = sentence.lower()
titleCase = sentence.title()

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.